.footer {
  padding: 30px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
  }

  &__title {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    padding: 2px 0;
    color: #FFFFFF;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #618967;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

    &:before {
      font-size: 16px;
      margin-right: 8px;
      color: #6D9C74;
    }
  }

  &__logo {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }

  &__copyright {
    font-weight: 400;
    font-size: 14px;
    color: #CFCFCF;
  }

  &__contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    max-width: 320px;
  }

  &__social-networks {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-top: 20px;

    a:before {
      font-size: 26px;
      color: #FFFFFF;
    }

    a:hover:before {
      color: #6D9C74;
    }
  }
}