.form {
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .field__errors {
      margin-top: 4px;
      color: #C2B6BC;
    }
  }

  &__label {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 8px 4px;
    color: #FFFFFF;
  }

  .btn__submit {
    display: block;
    margin-left: auto;
  }
}

.form__auth {
  margin: 0 auto;
  width: 100%;
  max-width: 350px;

  .auth__btn {
    width: 100%;
  }

  .auth__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    font-size: 14px;
    width: 100%;
    margin-top: 30px;

    div {
      color: #CFCFCF;
    }

    a {
      color: #FFFFFF;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: #6D9C74;
      }
    }
  }

  .auth__admin-link {
    font-size: 12px;
    text-align: right;
    margin-top: 40px;

    a {
      color: #CFCFCF;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: #C2B6BC;
      }
    }
  }
}