<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
>

    <!-- Пакет, де відбуватиметься сканування на наявність @Component -->
    <context:component-scan base-package="ztu.education.spring_web_project" />

    <mvc:annotation-driven />
    <aop:aspectj-autoproxy />

    <mvc:resources mapping="/resources/**" location="/resources/" />

    <!-- Префікс та суфікс для файлів з view, щоб ми могли звертатися до них безпосередньо -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- Підключення Hibernate до MySQl
        За замовчуванням Hibernate використовує jdbc для підключення до БД, що дуже час затратним.
        Рекомендується використовувати конекшн пули, наприклад c3p0
        (Дозволяє деактивувати підключення активним деякий час і закриває його, коли він уже не потрібний)
    -->
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close"
    >
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <property name="jdbcUrl"
                  value="jdbc:mysql://localhost:3307/ztu_restaurant?useSSL=false&amp;serverTimezone=UTC"
        />
        <property name="user" value="root" />
        <property name="password" value="root" />
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
    >
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="ztu.education.spring_web_project" />
        <property name="hibernateProperties">
            <props>
                <!-- Використання MySql діалекту, а також виведення в консоль MySql команд -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!-- Валідація даних за допомогою звернень до БД -->
                <prop key="javax.persistence.validation.mode">none</prop>
            </props>
        </property>
    </bean>

    <!-- Даний bean дозволяє Spring'у регулювати роботу сесій Hibernate через анотацію @Transaction -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager"
    >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Активація анотації, описаної вище -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- Завантаження картинок через контролер -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
    <!--    <mvc:default-servlet-handler />-->

</beans>